<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Movie App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- <ul>
    @for(movie of movies;track movie){
      <li>
        <img src={{movie.Poster}}>
        <p>{{movie.Year}}</p>
        <p>{{movie.Title}}</p>
      </li>
    }
  </ul> -->

  <!-- //Created a For loop to display all of the contents of the Api -->
@for(movie of movies;track movie){
      <ion-card>
        <!-- used{{object}} to display the specific item froom the array on the api -->
      <img src={{movie.Poster}} width="400px">
    <ion-card-header>
      <ion-card-title>{{movie.Title}}</ion-card-title>
      <ion-card-subtitle>{{movie.Year}}</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      {{movie.Type}}
    </ion-card-content>
  </ion-card>
  <ion-button style="display: flex;">Select</ion-button>
  <hr>
  <br>
}


</ion-content>
